[Unit]
Description=Developer News API
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill devnew-core
ExecStartPre=-/usr/bin/docker rm devnews-core
ExecStartPre=/usr/bin/docker pull devnews-core
ExecStart=/usr/bin/docker run -d -p 1337:1337 --name devnews-core devnews-core
ExecStop=/usr/bin/docker stop devnews-core
